body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.portifoliocards {
padding: 2px 16px; 
display:flex;
padding:20px;
}

.portifolio {
box-shadow: 0 3px 7px grey;
margin:30px;
background-color: whitesmoke;
text-align: center;
padding:20px 10px 10px 10px;
}

.headertext {
    background-color: whitesmoke;
    padding:100px;
    text-align: center;
}

